.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #8b0d1c;
}
  
.assento-container {
    text-align: center;
    background-color: #ddd;
    padding: 20px;
    border-radius: 8px;
}

h3{
    padding: 20px;
}
  
.assentos {
    display: grid;
    grid-template-columns: repeat(8, 30px);
    gap: 10px;
    justify-content: center;
}
  
.assento {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}
  
.assento.ocupado {
    background-color: #ff4d4d;
    cursor: not-allowed;
}
  
.assento.selecionado {
    background-color: #4caf50;
}
  
.info-lateral {
    background-color: #444;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.parte-superior{
    margin-bottom: 20px;
}

.parte-inferior {
    margin-bottom: 20px;
}
  
.cartaz,
.descricao {
    background-color: #555;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
}
  
.detalhes {
    margin-bottom: 20px;
}
  
button.voltar {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
  
button.voltar:hover {
    background-color: #555;
}