main{
    height: 1050px;
    background-color: #8b0b1c;
    overflow: hidden;
}

body{ 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #8b0d1c;
    color: #fff;
    align-items: center; 
    overflow: hidden;
}

.assento-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #534e58;
    padding: 15px;
    border-radius: 5px;
    width: 550px;
    height: 750px;
    position: relative;
    top: -40px;
}

.assentos {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.assento {
    width: 55px;
    height: 55px;
    background-color: #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
}

.assento:hover {
    opacity: 0.9;
}

.assento.selecionado {
    background-color: #4caf50;
}

.assento.ocupado {
    background-color: #f44336;
    cursor: not-allowed;
}

.tela {
    background-color: #444;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.parte-inferior {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #222;
    border-radius: 5px;
    position: relative;
}

.detalhes, .resumo {
    font-size: 20px;
    margin: 0 10px;
}

.info-lateral {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 1050px;
}

.cartaz{
    width: 430px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    top: 50px;
} 

.descricao {
    transition: transform 0.2s ease-in-out;
    background-color: #444;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    width: 90%;
    font-size: 20px;
    position: relative;
    top: 50px;
}

.voltar {
    transition: transform 0.2s ease-in-out;
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; 
}

.voltar:hover, .descricao:hover, .ingresso:hover {
    transform: scale(1.01);
    cursor: pointer;
}


.ingresso{
    background-color: #ee3527;
    transition: transform 0.2s ease-in-out;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width:200px;
    height: 50px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    font-size: 17px;
    position: relative;
    top:70px;
}

.ingressor:hover {
    background-color: #d32f2f;
}