body{
    background-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cont{
    display: flex;
}

.esquerda {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #8b0d1c;
    height: 50rem;
    width: 30vw;
    justify-content: center;
    align-items: center;
    
}

.capaFilme{
    border-radius: 15px;
    background-color: black;
    height: 75%;
    width: 90%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    
}

.back{
    background-color: black;
    border: 0;
    color: white;
    border-radius: 5px;
    height: 30px;
    align-items: center;
    width: 70px;
    transition: all 0.3s;
}

.back:hover{
    cursor: pointer;
    opacity: 0.9;
    width: 90px;
  
}



.direita {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #8b0d1c;
    height: 50rem;
    width: 70vw;
    justify-content: center;
    align-items: center;
}

.trailer{
    background-color: black;
    height: 400px;
    width: 600px;
    border-radius: 15px;
    overflow: hidden;
}

.descricao{
    background-color: rgb(66, 63, 63);
    padding: 10px;
    display: flex;
    align-items: center;
    height: 150px;
    width: 650px;
    border-radius: 15px;
    overflow: hidden;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.salas{
    display: flex;
    gap: 23px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.sala1{
    background-color: rgb(66, 63, 63);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 145px;
    border-radius: 15px;
}

.sala2{
    background-color: rgb(66, 63, 63);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 145px;
    border-radius: 15px;
}

.sala3{
    background-color: rgb(66, 63, 63);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 145px;
    border-radius: 15px;
}

.sala4{
    background-color: rgb(66, 63, 63);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 145px;
    border-radius: 15px;
}
