body{
    background-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cont{
    display: flex;
}

.esquerda {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #8b0d1c;
    height: 50rem;
    width: 30vw;
    justify-content: center;
    align-items: center;
    
}

.capaFilme{
    border-radius: 15px;
    background-color: black;
    height: 75%;
    width: 90%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    
}

.back{
    transition: transform 0.2s ease-in-out;
    border: none;
    background-color: #5e040f;
    color: white;
    border-radius: 15px;
    width: 85px;
    height: 25px;
}

.back:hover{
    transform: scale(1.03);
    cursor: pointer;
    background-color: #6e0310;
}



.direita {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #8b0d1c;
    height: 50rem;
    width: 70vw;
    justify-content: center;
    align-items: center;
}

.trailer{
    background-color: black;
    height: 400px;
    width: 600px;
    border-radius: 15px;
    overflow: hidden;
}

.descricao{
    transition: transform 0.2s ease-in-out;
    text-align: center;
    background-color: #5e040f;
    align-items: center;
    padding: 10px;
    display: flex;
    height: 150px;
    width: 650px;
    border-radius: 15px;
    overflow: hidden;
    color: white;
}

.salas{
    display: flex;
    gap: 23px;
    color: white;
    overflow: hidden;
}

.sala1:hover, .sala2:hover, .sala3:hover, .sala4:hover, .descricao:hover{
    transform: scale(1.01);
    cursor: pointer;
}

.sala1, .sala2, .sala3, .sala4{
    transition: transform 0.2s ease-in-out;
    background-color: #5e040f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 150px;
    border-radius: 15px;
    gap: 5px;
}

.irParaCompra{
    border-radius: 7px;
    width: 100px;
    border: none;
}

.irParaCompra:hover{
    cursor: pointer;
    opacity: 0.9;
}