main{
    height: 850px;
    background-color: #8b0b1c
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cont{
    display: flex;
}

.esquerda {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #8b0d1c;
    height: 50rem;
    width: 40vw;
    justify-content: center;
    align-items: center;  
}

.capaFilme{
    border-radius: 15px;
    background-color: black;
    height: 75%;
    width: 450px;
    background-size: 100% 100%;
    position: relative;
    left: 10px;
}

.back{
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    top:-10px ;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

.back:hover{
    transform: scale(1.03);
    cursor: pointer;
    background-color: #6e0310;
}

.direita {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #8b0d1c;
    height: 50rem;
    width: 70vw;
    justify-content: center;
    align-items: center;
}

.trailer{
    background-color: black;
    height: 400px;
    width: 660px;
    border-radius: 15px;
    overflow: hidden;
}

.descricao{
    text-align: center;
    background-color: #5e040f;
    align-items: center;
    padding: 10px;
    display: flex;
    height: 150px;
    width: 650px;
    border-radius: 15px;
    overflow: hidden;
    color: white;
    font-size: 20px;
}

.salas{
    display: flex;
    gap: 23px;
    color: white;
    overflow: hidden;
}

.sala1:hover, .sala2:hover, .sala3:hover, .sala4:hover, .descricao:hover{
    transform: scale(1.01);
    cursor: pointer;
}

.sala1, .sala2, .sala3, .sala4{
    transition: transform 0.2s ease-in-out;
    background-color: #5e040f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 150px;
    border-radius: 15px;
    gap: 5px;
}

.irParaCompra{
    border-radius: 7px;
    width: 100px;
    border: none;
}

.irParaCompra:hover{
    cursor: pointer;
    opacity: 0.9;
}