header{
    display: flex;
    position: relative;
}

#DivLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 00px;
}

.LogoBilhete {
    width: 80px;
    height: 80px;
}

#containerBotao {
    display: flex;
    position: absolute;
    right: 10px;
}

.divBotao {
    width: 200px;
}

.buttonHeader {
    padding: 0;
    width: 150px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    color: black;
    background-color: white;
    border-radius: 5px;
}

.buttonHeader:hover {
    opacity: 0.7;
    cursor: pointer;
}

#Busca {
    font-size: 20px;
    left: 100px;
}

#lupa {
    width: 30px;
    height: 30px;
    filter: invert(100%);

}