main{
    display: flex;
    position: relative;
}

.input {
    width: 600px;
    height: 25px;
    padding: 10px;
    background-color: #D9D9D9;
    border: 3px solid ;
    margin-bottom: 20px ;
}

.titulo-input {
    font-size: 20px;
    color: white;
} 

#caixasInformacao{
    position: relative;
    top: -150px;
}

.descricao{
    font-size: 23px;
    color: white;
}

#Texto{
    top: -130px;
    position: relative;
}